/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar {
    background-color: $primary-color;
    font-size: 1.5rem;
    button {
        color: $dark-gray !important;
    }
    .title-bar-title {
      float: right;
      a {
        font-size: 1.5rem;
        color: $secondary-color;
      }
    }
}


#masthead {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Tablet and desktop menu */
.top-bar {
  text-align: center;
  background-color: $primary-color !important;

  .top-bar-nav {
    display: inline-block;

    ul {
      background-color: $primary-color;
      width: auto;
      margin: auto;
      text-align: center;
    }

    @include breakpoint(medium) {
      margin: 0.25rem 0rem;
    }
  }

  .menu .home a {
    font-size: 2rem;
    color: $secondary-color;
  }

  .menu a {
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
        -webkit-text-decoration-color: $secondary-color;
        -moz-text-decoration-color: $secondary-color;
        text-decoration-color: $secondary-color;
    }
  }

  .menu li {
    position: relative;
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:first-child) { 
    @include breakpoint(medium) {
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 18px;
            left: 0px;
            bottom: 8px;
            width: 1px;
            height: 20px;
            background: $white;
        }
    }

  }

  .dropdown.menu .submenu {
    background-color: rgb(246, 245, 247);
    color: $primary-color;
    border: 0;
    a {
        font-size: 1rem;
    }
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

    .menu .active > a {
        background-color: $primary-color;
        color: $secondary-color;
    }

}
/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
	content: "";
    	display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}
